@import url("https://fonts.googleapis.com/css2?family=Robot+Mono&display=swap");

html,
body {
  background-color: #2e3440;
  font-family: "Roboto Mono", Monaco, Consolas, "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

a,
a:visited {
  text-decoration: none;
  color: #88c0d0;
}

.button,
button {
  background-color: #5e81ac;
  color: #d8dee9;
  font: inherit;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.05em;
}

main {
  padding: 3em;
  text-align: center;
}

.title {
  font-size: 3em;
  margin-top: 0;
}

.description {
  color: #eceff4;
  font-size: 1.3rem;
  padding: 0 1em 1em;
}
.footer {
  position: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  color:  #e5e9f0;
  padding: 2rem 1rem;
}
.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footerLinks{
  padding: 1rem;
}
